body {
  margin: 0;
  text-align: center;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif
}

h1 {
  color: #66BFBF;
  font-family: 'Bree Serif', serif;
  font-size: 4.0625rem; /* 1rem = 16px */
  margin: 170px auto 0 auto;
}

h2 {
  color: #66BFBF;
  font-family: 'Rubik', sans-serif;
  font-size: 2.5rem; /*try to use rem*/
  font-weight: normal;
}

h3 {
  color: #11999E;
  font-family: 'Rubik', sans-serif;
  font-size: 1.4rem;
}

hr{
  border-top: dotted grey;
  border-width: 0.25em 0 0;
  width: 4%;
  margin: 70px auto 70px auto;
}

p{
  line-height: 2;
  font-size: 1.3rem;
}

.self-descrip {
  font-size: 20px;
}

.welcome{
  width: 35%;
  margin: auto;
}
.topContainer {
  background-color: #E4f9F5;
  border: 10px;
  position: relative;
  padding-top: 100px;
}

.middle-container{
  margin-top: 30px;
}

.profile {
  margin-top: 15px;
}

.Ropic {
  height: 200px;
}

.businessman {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.analytics{
  width: 30%;
  float: right;
  margin-left: 30px;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.top-cloud {
  position: absolute;
  right: 10%;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 10%;
  bottom: 200px;
}

.bottom-container{
  background-color: #66BFBF;
  height:80px;
  margin-top: 50px;
  padding: 10px;
}

.contact-Fun{
  width: 30%;
  margin: 50px auto 60px auto;
}

a {
  color: #11999E;
  font-family: 'Rubik', sans-serif;
  margin: 0px 30px 0 30px;
  text-decoration: none;
}

a:hover {
  color: white;
}

.copyright{
  color: #EAF6F6;
  font-size: 10px;
  margin-top: 35px;
}
.btn {
	-moz-box-shadow:inset 0px 1px 0px 0px #cae3fc;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cae3fc;
	box-shadow:inset 0px 1px 0px 0px #cae3fc;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #11cdd4), color-stop(1, #11999e) );
	background:-moz-linear-gradient( center top, #11cdd4 5%, #11999e 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#11cdd4', endColorstr='#11999e');
	background-color:#11cdd4;
	-webkit-border-top-left-radius:8px;
	-moz-border-radius-topleft:8px;
	border-top-left-radius:8px;
	-webkit-border-top-right-radius:8px;
	-moz-border-radius-topright:8px;
	border-top-right-radius:8px;
	-webkit-border-bottom-right-radius:8px;
	-moz-border-radius-bottomright:8px;
	border-bottom-right-radius:8px;
	-webkit-border-bottom-left-radius:8px;
	-moz-border-radius-bottomleft:8px;
	border-bottom-left-radius:8px;
	text-indent:0;
	display:inline-block;
	color:#ffffff;
	font-family: 'Rubik', sans-serif;
	font-size:18px;
	font-weight:normal;
	font-style:normal;
	height:37px;
	line-height:37px;
	width:150px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #287ace;
}

.btn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #11999e), color-stop(1, #11cdd4) );
	background:-moz-linear-gradient( center top, #11999e 5%, #11cdd4 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#11999e', endColorstr='#11cdd4');
	background-color:#11999e;
}

.btn:active {
	position:relative;
	top:1px;
}

/* test code for cleaning wrap
.application-description{
  clear: left;
}
.chillies-description{
  clear: right;
}
*/
